<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .ctn{
            padding: 3% 0% 10% 33%;
        }
    </style>
</head>
<body>
    <div id="productos" class="ctn">
    <form method="POST">
            <table>
                <tr class="examinar">
                    <td><label for="archivo">Nombre del Archivo</label></td>
                    <td><input type="file" id="archivo" name="fileupload"  accept="text/csv"/></td>
                    <td class="botones"><input type="submit" name="boton" value="Examinar"/></td>
                </tr>
                <tr class="cargar">
                    <td class="botones"><input type="submit" name="boton" value="Cargar"/>
                </tr>
            </table>
      </form>
    </div>
</body>
</html>
